<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Photo</key>
		<string>0020.jpg</string>
		<key>Telephone</key>
		<string>13563752960</string>
		<key>UserName</key>
		<string>程广法</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0021.jpg</string>
		<key>Telephone</key>
		<string>13897583865</string>
		<key>UserName</key>
		<string>李奇</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0022.jpg</string>
		<key>Telephone</key>
		<string>13522067342</string>
		<key>UserName</key>
		<string>吴喜瑶</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0023.jpg</string>
		<key>Telephone</key>
		<string>13542008248</string>
		<key>UserName</key>
		<string>李乔伟</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0024.jpg</string>
		<key>Telephone</key>
		<string>13983580663</string>
		<key>UserName</key>
		<string>马少华</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0025.jpg</string>
		<key>Telephone</key>
		<string>13946646259</string>
		<key>UserName</key>
		<string>顾焱旺</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0026.jpg</string>
		<key>Telephone</key>
		<string>13996448741</string>
		<key>UserName</key>
		<string>颜亚茹</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0027.jpg</string>
		<key>Telephone</key>
		<string>15846818099</string>
		<key>UserName</key>
		<string>胡新宇</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0028.jpg</string>
		<key>Telephone</key>
		<string>15847851530</string>
		<key>UserName</key>
		<string>蒋小寸</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0029.jpg</string>
		<key>Telephone</key>
		<string>13949751125</string>
		<key>UserName</key>
		<string>梁丹丹</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0030.jpg</string>
		<key>Telephone</key>
		<string>13597267231</string>
		<key>UserName</key>
		<string>李厚朝</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0031.jpg</string>
		<key>Telephone</key>
		<string>13953615478</string>
		<key>UserName</key>
		<string>鲍世伟</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0032.jpg</string>
		<key>Telephone</key>
		<string>15894745514</string>
		<key>UserName</key>
		<string>袁堂亮</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0033.jpg</string>
		<key>Telephone</key>
		<string>13850730893</string>
		<key>UserName</key>
		<string>李占华</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0034.jpg</string>
		<key>Telephone</key>
		<string>15852068594</string>
		<key>UserName</key>
		<string>何瑞</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0035.jpg</string>
		<key>Telephone</key>
		<string>15863129146</string>
		<key>UserName</key>
		<string>王万鑫</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0036.jpg</string>
		<key>Telephone</key>
		<string>15860206209</string>
		<key>UserName</key>
		<string>张容基</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0037.jpg</string>
		<key>Telephone</key>
		<string>15871190821</string>
		<key>UserName</key>
		<string>赵香港</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0038.jpg</string>
		<key>Telephone</key>
		<string>13887388306</string>
		<key>UserName</key>
		<string>汪宁</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0039.jpg</string>
		<key>Telephone</key>
		<string>13858952824</string>
		<key>UserName</key>
		<string>尹文涛</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0040.jpg</string>
		<key>Telephone</key>
		<string>13947933160</string>
		<key>UserName</key>
		<string>周卫军</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0041.jpg</string>
		<key>Telephone</key>
		<string>13564796611</string>
		<key>UserName</key>
		<string>张帅</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0042.jpg</string>
		<key>Telephone</key>
		<string>13932007016</string>
		<key>UserName</key>
		<string>吕鹏飞</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0043.jpg</string>
		<key>Telephone</key>
		<string>1391065915</string>
		<key>UserName</key>
		<string>刘书龙</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0044.jpg</string>
		<key>Telephone</key>
		<string>13973498570</string>
		<key>UserName</key>
		<string>赵辉</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0045.jpg</string>
		<key>Telephone</key>
		<string>13597267303</string>
		<key>UserName</key>
		<string>吴瑶</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0046.jpg</string>
		<key>Telephone</key>
		<string>13589605726</string>
		<key>UserName</key>
		<string>师久林</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0047.jpg</string>
		<key>Telephone</key>
		<string>13870498102</string>
		<key>UserName</key>
		<string>张健</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0048.jpg</string>
		<key>Telephone</key>
		<string>13861496067</string>
		<key>UserName</key>
		<string>王渊浩</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0049.jpg</string>
		<key>Telephone</key>
		<string>13996575795</string>
		<key>UserName</key>
		<string>满忠旗</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0050.jpg</string>
		<key>Telephone</key>
		<string>15848865177</string>
		<key>UserName</key>
		<string>袁娟娟</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0051.jpg</string>
		<key>Telephone</key>
		<string>1392053808</string>
		<key>UserName</key>
		<string>常春冬</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0052.jpg</string>
		<key>Telephone</key>
		<string>13814268887</string>
		<key>UserName</key>
		<string>江星</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0053.jpg</string>
		<key>Telephone</key>
		<string>13974413722</string>
		<key>UserName</key>
		<string>张宪强</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0054.jpg</string>
		<key>Telephone</key>
		<string>13582168065</string>
		<key>UserName</key>
		<string>任鑫</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0055.jpg</string>
		<key>Telephone</key>
		<string>13932226246</string>
		<key>UserName</key>
		<string>董雪娇</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0056.jpg</string>
		<key>Telephone</key>
		<string>13518200105</string>
		<key>UserName</key>
		<string>白晓</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0057.jpg</string>
		<key>Telephone</key>
		<string>13529505802</string>
		<key>UserName</key>
		<string>刘秋菊</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0058.jpg</string>
		<key>Telephone</key>
		<string>13868124470</string>
		<key>UserName</key>
		<string>李重阳</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0059.jpg</string>
		<key>Telephone</key>
		<string>13887766448</string>
		<key>UserName</key>
		<string>苏志彬</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0060.jpg</string>
		<key>Telephone</key>
		<string>13557331038</string>
		<key>UserName</key>
		<string>李立昊</string>
	</dict>
	<dict>
		<key>Photo</key>
		<string>0061.jpg</string>
		<key>Telephone</key>
		<string>13855576440</string>
		<key>UserName</key>
		<string>孙美玲</string>
	</dict>
</array>
</plist>
